<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>273108821272-pq46akrlu0iv4j6cmtklu5f2buinp11g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.273108821272-pq46akrlu0iv4j6cmtklu5f2buinp11g</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>273108821272-dj1ob03j4ncga7bocfluukghoqkkbn67.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDugHWJBuEe7mtFIcBNPbtalmDWaivkMd4</string>
	<key>GCM_SENDER_ID</key>
	<string>273108821272</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MTVeston</string>
	<key>PROJECT_ID</key>
	<string>minhtienveston</string>
	<key>STORAGE_BUCKET</key>
	<string>minhtienveston.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:273108821272:ios:7f5518776d2a1ee42d2a6d</string>
	<key>DATABASE_URL</key>
	<string>https://minhtienveston-default-rtdb.firebaseio.com</string>
</dict>
</plist>